<div class="row">
    <div class="page-header">
        <h1 id="tables">Users</h1>
    </div>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Romeo Waldenhuis</td>
            <td>romeo@mailinator.com</td>
            <td>USER</td>
            <td><a href="#/user/1">edit</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Julia Waldenhuis</td>
            <td>julia@mailinator.com</td>
            <td>USER</td>
            <td><a href="#/user/2">edit</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vasile Dumitru</td>
            <td>vasile@mailinator.com</td>
            <td>USER</td>
            <td><a href="#/user/3">edit</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Robert Strong</td>
            <td>robert@mailinator.com</td>
            <td>MEDIATOR</td>
            <td><a href="#/user/4">edit</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Florence Grasp</td>
            <td>florence@mailinator.com</td>
            <td>JUDGE</td>
            <td><a href="#/user/5">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
