<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <h1>Welcome</h1>

            <p>to the granary</p>
        </div>
        <div class="col-lg-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Chest_and_Lid_with_Model_Granaries.jpg"
                 class="img-responsive"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="jumbotron">
            <h3>Ginkgo seed</h3>
            <ul>
                <li>AngularJS</li>
                <li>Bootstrap</li>
                <li>REST</li>
                <li>SpringMVC</li>
                <li>Spring Security</li>
                <li>Maven</li>
                <li>User management</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="jumbotron">
            <h3>Avocado seed</h3>
            <ul>
                <li>stay tuned</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="jumbotron">
            <h3>Elm seed</h3>
            <ul>
                <li>stay tuned</li>
            </ul>
        </div>
    </div>
</div>
